ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_PROVIDER_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=<YOUR PRIVATE KEY>
OWNER_ADDRESS=<YOUR OWNER ADDRESS>
NFT_STORAGE_KEY=<YOUR NFT STORAGE KEY>
VITE_NFT_DEPLOYED_ADDRESS=<YOUR DEPLOYED SMART CONTRACT ADDRESS>
VITE_CHAIN_ID=<YOUR CHAIN ID>
VITE_API_URL=YOUR_API_URL
VITE_WAVE_PORTAL_ADDRESS=0xBDE82cEA1Db3cf1210AE1Add3BDf717147454F9E
